<h1><%= t('common.title.edit', book: Book.model_name.human) %></h1>

<%= render 'form', book: @book %>

<%= link_to t('common.button.edit'), @book %> |
<%= link_to t('common.button.back'), books_path %>
